<form [formGroup]="creditCardForm" (ngSubmit)="addCard()" class="container">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput autocomplete="off" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Balance Owed</mat-label>
    <input formControlName="balance" matInput autocomplete="off" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Interest Rate</mat-label>
    <input formControlName="interest" matInput autocomplete="off" />
  </mat-form-field>
  <button mat-raised-button color="primary">Add Card</button>
</form>
