<div class="container">
  <div class="configuration">
    <app-cred-card-list
      *ngIf="creditCards.length"
      [(creditCards)]="creditCards"
      class="cc-list"
    ></app-cred-card-list>
    <button
      *ngIf="creditCards.length && !displayForm"
      (click)="displayCardForm()"
      mat-raised-button
      color="primary"
    >
      Add Card
    </button>
    <app-add-card-form
      *ngIf="!creditCards.length || displayForm"
      [(creditCards)]="creditCards"
      (cardCreated)="cardCreated()"
    ></app-add-card-form>
    <br />
    <mat-divider></mat-divider>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Estimated Monthly Payment</mat-label>
      <input [(ngModel)]="monthlyPayment" matInput autocomplete="off" />
    </mat-form-field>
    <button (click)="calculate()" mat-raised-button color="primary">
      Calculate
    </button>
    <br />
    <mat-divider></mat-divider>
    <br />

    <mat-card>
      <h1 class="mat-h1">Your Results (Snowball)</h1>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Monthly payment</div>
            <div>
              <b>{{ monthlyPayment | currency }} </b>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Total Time</div>
            <div>
              <b>{{ monthsToPayoff | prettyMonth }}</b>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Total Principal Paid</div>
            <div>{{ totalPrincipal | currency }}</div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Total Interest Paid</div>
            <div>{{ totalInterestPaid | currency }}</div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Total Paid</div>
            <div>{{ totalPaid | currency }}</div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <br />
    <mat-divider></mat-divider>
    <br />
    <mat-card>
      <h1 class="mat-h1">Your Results (Avalanche)</h1>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Monthly payment</div>
            <div>
              <b>{{ monthlyPayment | currency }} </b>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Total Time</div>
            <div>
              <b>{{ monthsToPayoffAvalanche | prettyMonth }}</b>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Total Principal Paid</div>
            <div>{{ totalPrincipal | currency }}</div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Total Interest Paid</div>
            <div>{{ totalInterestPaidAvalanche | currency }}</div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="list-item">
            <div>Total Paid</div>
            <div>{{ totalPaidAvalanche | currency }}</div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <!--<ngx-charts-pie-chart-->
    <!--[view]=""-->
    <!--scheme="vivid"-->
    <!--[results]="single"-->
    <!--[legend]="false"-->
    <!--[explodeSlices]="false"-->
    <!--[labels]="true"-->
    <!--[doughnut]="false"-->
    <!--[gradient]="gradient"-->
    <!-->-->
    <!--</ngx-charts-pie-chart>-->
  </div>
  <!--<div class="example-container mat-elevation-z8">-->
  <!--<table mat-table [dataSource]="dataSource">-->
  <!--[> Name Column <]-->
  <!--<ng-container matColumnDef="name" sticky>-->
  <!--<th mat-header-cell *matHeaderCellDef>Name</th>-->
  <!--<td mat-cell *matCellDef="let element">{{ element.name }}</td>-->
  <!--</ng-container>-->

  <!--[> Position Column <]-->
  <!--<ng-container matColumnDef="position">-->
  <!--<th mat-header-cell *matHeaderCellDef>No.</th>-->
  <!--<td mat-cell *matCellDef="let element">{{ element.position }}</td>-->
  <!--</ng-container>-->

  <!--[> Weight Column <]-->
  <!--<ng-container matColumnDef="weight">-->
  <!--<th mat-header-cell *matHeaderCellDef>Weight</th>-->
  <!--<td mat-cell *matCellDef="let element">{{ element.weight }}</td>-->
  <!--</ng-container>-->

  <!--[> Symbol Column <]-->
  <!--<ng-container matColumnDef="symbol">-->
  <!--<th mat-header-cell *matHeaderCellDef>Symbol</th>-->
  <!--<td mat-cell *matCellDef="let element">{{ element.symbol }}</td>-->
  <!--</ng-container>-->

  <!--[> Star Column <]-->
  <!--<ng-container matColumnDef="star" stickyEnd>-->
  <!--<th mat-header-cell *matHeaderCellDef></th>-->
  <!--<td mat-cell *matCellDef="let element">-->
  <!--<mat-icon>more_vert</mat-icon>-->
  <!--</td>-->
  <!--</ng-container>-->

  <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>-->
  <!--</table>-->
  <!--</div>-->
  <!--<div class="chart">-->
  <!--<ngx-charts-line-chart-->
  <!--[results]="data"-->
  <!--[gradient]="false"-->
  <!--[xAxis]="true"-->
  <!--[yAxis]="true"-->
  <!--[legend]="true"-->
  <!--[showXAxisLabel]="true"-->
  <!--[showYAxisLabel]="true"-->
  <!--xAxisLabel="Month"-->
  <!--yAxisLabel="Balance"-->
  <!--[autoScale]="true"-->
  <!--scheme="vivid"-->
  <!--></ngx-charts-line-chart>-->
  <!--</div>-->
</div>
