<div class="container">
  <div class="configuration">
    <mat-accordion class="add-card">
      <div class="calculations">
        <mat-form-field appearance="outline">
          <mat-label>Expected Monthly Payment</mat-label>
          <input [(ngModel)]="monthlyPayment" matInput autocomplete="off" />
        </mat-form-field>
        <button (click)="calculate()" mat-raised-button color="primary">
          Calculate
        </button>
      </div>
      <br />
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Add Card </mat-panel-title>
        </mat-expansion-panel-header>
        <app-add-card-form [(creditCards)]="creditCards"></app-add-card-form>
      </mat-expansion-panel>
    </mat-accordion>
    <app-cred-card-list
      [(creditCards)]="creditCards"
      class="cc-list"
    ></app-cred-card-list>
  </div>
  <div class="chart">
    <ngx-charts-line-chart
      [results]="data"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Month"
      yAxisLabel="Balance"
      [autoScale]="true"
      scheme="vivid"
    ></ngx-charts-line-chart>
  </div>
</div>
